.titleHis {
  margin-left: 20px;
}
.boxHis {
  margin-top: 5%;
  border: 1px solid var(--border);
  width: 100% !important;
}
.tableHis {
  width: 100%;
  margin: 2%;
}
.tableHis tr {
  width: 100% !important;
  display: grid;
  grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 10%;
}
.tableHis thead {
  width: 100% !important;
}
.tableHis tbody {
  width: 100% !important;
}
.tableHis th {
  border: 1px solid var(--border);
  width: 100% !important;
  border-bottom: none;
}

.tableHis td {
  font-size: 1.2rem;
  border: 1px solid var(--border);
  text-align: center;

  width: 100% !important;
  overflow: hidden;
}

.tableHis button {
  background-color: green;
  border: none;
  color: white;
  height: 30px;
  width: 70px;
}
.tableHis button:hover {
  transform: scale(1.1);
}
.nextHis {
  display: flex;
  justify-content: end;
  margin-right: 25px;
}
.nextHis p {
  padding: 5px;
  border: 1px solid var(--border);
}
.nextHis p:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}
.nextHis p:last-child:hover {
  transform: scale(1.1);
}
.nextHis p:first-child:hover {
  transform: scale(1.1);
}
.endOrder {
  color: rgb(125, 232, 125);
}
.order {
  color: rgb(237, 149, 149);
}
@media (max-width: 500px) {
  .tableHis tr {
    width: 100% !important;
    display: grid;
    grid-template-columns: 20% 20% 20% 10% 10% 18% !important;
  }
}
